<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Registro de producto</div>
        </div>
        <div class="panel-body">
            <!-- Success message -->
            <!--  -->
            <div *ngIf="showSucessMessage" role="alert" class="alert alert-success">
                Saved successfully
            </div>
            <!-- Error message -->
            <div class="alert alert-danger" *ngIf="serverErrorMessages" role="alert">
                {{serverErrorMessages}}
            </div>
            <form class="form-horizontal" #registerProduct="ngForm" (ngSubmit)="registerProduct.valid && onSubmit(registerProduct)">
                <div class="form-group">
                    <label for="model" class="col-md-3 control-label">Model</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" #model="ngModel" [(ngModel)]="productService.selectedProduct.model"
                            name="model" placeholder="Product model" required  [ngClass]="{'invalid-textbox' :registerProduct.submitted && !email.valid }">
                    </div>
                    <div *ngIf="registerProduct.submitted && model.errors">
                        <label *ngIf="model.errors.required" class="validation-message">This field is required.</label>
                        <label *ngIf="model.errors.pattern" class="validation-message">Invalid email address.</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="brand" class="col-md-3 control-label">Brand</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" #brand="ngModel" [(ngModel)]="productService.selectedProduct.brand"
                            name="brand" placeholder="Product brand" required [ngClass]="{'invalid-textbox' :registerProduct.submitted && !fullName.valid }">
                        <div *ngIf="registerProduct.submitted && !brand.valid">
                            <label class="validation-message">This field is required.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-md-3 control-label">Price</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" #price="ngModel" [(ngModel)]="productService.selectedProduct.price"
                            name="price" placeholder="Product price" required [ngClass]="{'invalid-textbox' :registerProduct.submitted && !fullName.valid }">
                        <div *ngIf="registerProduct.submitted && !price.valid">
                            <label class="validation-message">This field is required.</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Register" class="btn btn-info">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>